body {
  margin:0px;
}

#scene {
    font-size: 43px;
    /*width:800px;
    height:600px;*/
    width:100vw;
    height:100vh;
    /*border:1px solid #000;*/
    overflow:hidden;
    position:relative;
    /*margin:50px auto;*/
    //background:#dbf6f5;
    background: rgb(97,124,164);
    //background: linear-gradient(0deg, rgba(97,124,164,1) 0%, rgba(201,230,238,1) 25%, rgba(201,230,238,1) 75%, rgba(97,124,164,1) 100%);
    background: linear-gradient(0deg, rgba(201,230,238,1) 0%, rgba(155,179,214,1) 25%, rgba(155,179,214,1) 75%, rgba(201,230,238,1) 100%);
}



.perspective {
    transform: perspective(500px) rotateX(60deg) rotateZ(45deg);
    /*background-color: #99d468;
    background-image: linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px, transparent 31px, rgba(0,0,0,.05) 31px),
                      linear-gradient(90deg, rgba(0,0,0,.05) 1px, transparent 1px, transparent 31px, rgba(0,0,0,.05) 31px);*/
    background-image: url('../img/grass.jpg');
    height: 512px;
    width: 512px;
    left: 50%;
    margin: -128px;
    position: absolute;
    top: 50%;
    transform-style: preserve-3d;
    transition: 1s;
    animation-play-state: running;
    perspective-origin {
        width:100%;
        height:100%;
        position:relative;
    }
    div {
        transform-style: preserve-3d;
    }

    animation: rotating2 50s linear infinite;
    // &:hover {
    //   animation-play-state: paused;
    // }
}

.giro {
  animation: rotating2 20s linear infinite;
}


@keyframes rotating {
  0% {
    transform: perspective(500px) rotateX(90deg) rotateZ(0deg);
  }
  50% {
    transform: perspective(300px) rotateX(30deg) rotateZ(180deg);
  }
  100% {
    transform: perspective(500px) rotateX(90deg) rotateZ(360deg);
  }
}

@keyframes rotating2 {
  0% {
    transform: perspective(700px) rotateX(60deg) rotateZ(0deg);
  }
  5% {
    transform: perspective(700px) rotateX(60deg) rotateZ(-36deg);
  }
  10% {
    transform: perspective(700px) rotateX(65deg) rotateZ(-72deg);
  }
  15% {
    transform: perspective(700px) rotateX(70deg) rotateZ(-108deg);
  }
  20% {
    transform: perspective(700px) rotateX(60deg) rotateZ(-144deg);
  }
  25% {
    transform: perspective(600px) rotateX(55deg) rotateZ(-180deg);
  }
  30% {
    transform: perspective(500px) rotateX(55deg) rotateZ(-216deg);
  }
  35% {
    transform: perspective(400px) rotateX(70deg) rotateZ(-252deg);
  }
  40% {
    transform: perspective(300px) rotateX(80deg) rotateZ(-288deg);
  }
  45% {
    transform: perspective(300px) rotateX(70deg) rotateZ(-324deg);
  }
  50% {
    transform: perspective(300px) rotateX(60deg) rotateZ(-360deg);
  }
  55% {
    transform: perspective(300px) rotateX(60deg) rotateZ(-396deg);
  }
  60% {
    transform: perspective(400px) rotateX(65deg) rotateZ(-432deg);
  }
  65% {
    transform: perspective(500px) rotateX(70deg) rotateZ(-468deg);
  }
  70% {
    transform: perspective(600px) rotateX(60deg) rotateZ(-504deg);
  }
  75% {
    transform: perspective(700px) rotateX(55deg) rotateZ(-540deg);
  }
  80% {
    transform: perspective(700px) rotateX(55deg) rotateZ(-576deg);
  }
  85% {
    transform: perspective(700px) rotateX(70deg) rotateZ(-612deg);
  }
  90% {
    transform: perspective(700px) rotateX(80deg) rotateZ(-648deg);
  }
  95% {
    transform: perspective(700px) rotateX(70deg) rotateZ(-684deg);
  }
  100% {
    transform: perspective(700px) rotateX(60deg) rotateZ(-720deg);
  }
}

